/* share styles */
body{
    font-family: 'PT Serif', serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#fa-youtube{
    color:var(--youtube-color);
}
#fa-tiktolk{
    background: var(--tiktolk-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
    padding: 21px 40px;
    color: var(--btn-primary-color);
    border-radius: 48px;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 24px;
    margin-top: 41px;
}
.secondary{
    background: #4EC5F7;
}
:root{
    --btn-primary-color:#FFFFFF;
    --btn-primary-background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --btn-secondary-background-color:#4EC5F7;
    --nav-bg-color:#FFFFFF;
    --nav-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    --common-nav-color:#3C354F;
    --youtube-color:red;
    --tiktolk-background:-webkit-linear-gradient(#08FFF9,#F00044,#000000);
    --cmn-title-size:48px;
    --cmn-title-color:#0B0223;
    --cmn-text-shadow:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

    }
/* nav section */
nav{
    background: var(--nav-bg-color);
    box-shadow: var(--nav-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 38px 100px;
}
nav > ul{
    display: flex;
    justify-content: centere;
    align-items: center;
    gap: 32px;
}
.style-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 17px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
nav ul li a{
    color: var(--common-nav-color);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
/* banner section  */
.banner{
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    padding: 38px 100px;
}
.banner > div {
    max-width: 50%;
}
.cmn-title{
    font-size: var(--cmn-title-size);
    color: var(--cmn-title-color);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.cmn-shadow-title{
    background: var(--cmn-text-shadow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-text-icons{
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.cmn-icon{
    margin-bottom: 17px;
}

/* gammer section  */
.gammer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding: 38px 100px;
}

#gammer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 48px;
}
.gammer-section > div {
    max-width: 50%;
}
.common-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
#gamer-btn{
    display: inline-block;
    padding: 21px 40px;
    color: var(--btn-primary-color);
    border-radius: 48px;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 24px;
    margin-top: 41px;
    text-align: right;
}
.footer-gammer{
    text-align: right;
}
.gammer-footer-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
.gammer-descirption-design{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}

/* online gamges */
.online-games{
    padding: 38px 100px;
}
.online-games-top-text{
    text-align: center;
}
.online-games-title{
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
}
.online-games-shadow{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-videos-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
}
.online-game-description{
    margin-bottom: 48px;
}

/*  play instantly section */
.play-instant{
    padding: 38px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 265px;
}
.play-instant > div{
    max-width: 50%;
}